body{
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #A7BEAE;
}

.card{
    margin-top: 150px;
}

h1{
    font-family: poppins, sans-serif;
    font-weight: bold;
}

p{
    text-align: center;
    font-family: poppins,sans-serif;
    font-size: 20px;
}

input{
    width: 100%;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button{
    background-color:#008CBA;
    width: 50%;
    padding: 14px 40px;
    border-radius: 8px;
    outline: none;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 100px;
}




