<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{css/forgot.css}">
</head>
<body>
    
    <div class="card">
    <h1>FORGOT PASSWORD</h1>
    <p>Enter your Email address</p>
    <input type="email" class="email" placeholder="name@gmail.com"> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

</body>
</html>