<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css} ">
    
</head>
<body>

    <div class="card">
        <h2 class="login">LOGIN PAGE</h2>
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
              <label for="username" class="form-label"></label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="*******" required>
            </div>
            <section class="links">
                <button type="submit" class="btn btn-primary">Submit</button>
                <article class="register">Don't have an Account? <a th:href="@{/signup}">SIGN UP</a></article>
            </section>
        </form>
    </div>
</body>
</html>
