<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
</head>
<body>
    
    <div class="card">
    <h1>RESET PASSWORD</h1>
    <label for="password">New Password</label>
    <input type="password" class="password" placeholder="Enter New Password" required> <br>

    <label for="passwordcon">Confirm Password</label>
    <input type="password" class="password" placeholder="Confirm New Password" required> <br>

    <div class="links">

        <button type="submit" class="btn btn-primary">Submit</button> <br>
    </div>
    
</div>


</body>
</html>